
.App {
  text-align: center;
  border-radius: 0;
}

.main-app-container .list-group-item {
  display: flex;
  padding-left: 0px;
  padding-right: 12px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  border-radius: 0px !important;
}

.btn-primary {
   background-color: #18186A !important;
}

html body {
    background-color: #f8f9fa;
}

.main-app-container {
  padding-left: 0.5ch;
  padding-top: 0.5ch;
}

.button-div {
  background-color: #18186A;
  color: white;
  display: inline-block;
  min-width: 10ch;
  max-width: 10ch;
  text-align: center;
  line-height: 4ch;
  font-size: 2ch;
  margin-bottom: 0.5ch;
}
